.app {
  margin: 0 auto;
  width: 80%;
}
.app-header {
  font-size: 3rem;
  text-align: center;
  color: #228c9c;
  text-shadow: 5px 5px 5px #d7d4d4;
}
@media (max-width: 500px) {
  .app {
    width: 95%;
  }
}